.reviewer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 992px) {
    img.mb-6.w-full {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .lg\:w-1\/4.w-1\/6 {
        width: 50%;
    }

    .card-body.mob-p {
        padding: 0;
    }
}